
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Organizer Dashboard</title>
    {% include "cdn/cdn.html" %}
</head>
<body class="bg-gray-50">
    {% include "share/navbar.html" %}

    <div class="container mx-auto my-8 px-4">
        <h1 class="text-3xl font-bold text-blue-500 mb-6">Organizer Dashboard</h1>
        
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4  gap-6 font-bold text-white">
            <div class="bg-blue-500 p-8 rounded-lg shadow text-center">
                <h2 class="text-lg font-bold">Total Participants</h2>
                <p class="text-2xl">{{ total_participants }}</p>
            </div>
            <div class="bg-blue-500 p-8 rounded-lg shadow text-center">
                <h2 class="text-lg font-bold">Total Events</h2>
                <p class="text-2xl">{{ total_events }}</p>
            </div>
            <div class="bg-blue-500 p-8 rounded-lg shadow text-center">
                <h2 class="text-lg font-bold">Upcoming Events</h2>
                <p class="text-2xl">{{ upcoming_events }}</p>
            </div>
            <div class="bg-blue-500  p-8 rounded-lg shadow text-center">
                <h2 class="text-lg font-bold">Past Events</h2>
                <p class="text-2xl">{{ past_events }}</p>
            </div>
        </div>

        <h2 class="text-2xl font-bold text-blue-600 mt-8">Today's Events</h2>
        <ul class="list-disc pl-6">
            {% for event in todays_events %}
                <li class="list-none text-2xl font-bold my-3 text-white">{{ event.name }} - {{ event.time }}</li>
            {% empty %}
                <li class="list-none text-3xl font-bold my-3 text-white">No events scheduled for today</li>
            {% endfor %} 
        </ul> 
    </div> 

    {% include "share/footer.html" %}
</body>
</html>
